[2015-08-08 16:08] Manouchehri opened #1 "Touch Driver"
As @jon1012 mentioned in an earlier commit, there's currently no driver support for the touch screen.

In Windows 8.1, it's listed as `IRQ 68	KMDF HID Minidriver for Touch I2C Device	OK`.

[2015-08-08 16:15] Manouchehri opened #2 "Realtek Drivers (Wireless/Bluetooth/Audio)"
There seems to be some [recent work on a kernel driver](https://github.com/hadess/rtl8723bs) for the wireless card, not sure about the audio one though.

[code]

[2015-08-08 17:14] jon1012 commented on #1
The device is a xSL1680 (MSSL according to acpi, compatible with GSL I guess), wired on i2c4 and the enable bit is on an unknown gpio.

There are two candidates for the driver, the client side one by @rastersoft:
https://github.com/rastersoft/gsl1680
This one gives raw info (that we can then use to move the pointer by software) and needs the GPIO bit (the gpio used to activate it) in a number usea

[2015-08-08 17:24] Manouchehri commented on #1
Do you still have a working Android install to see if you can pull the firmware off? I've only backed up the Windows drivers.

[2015-08-08 17:38] Manouchehri commented on #1
Using `SileadTouch.fw` (md5sum: `c26109179d51cc71533f76c8f70346e3`), `fwtool` from gslx680-acpi seems to reject it.

[code]

[2015-08-08 19:28] jon1012 commented on #1
Thing is I didn't find the file in my android filesystem ... :(

Le sam. 8 août 2015 à 19:38, David Manouchehri notifications@github.com a
écrit :

[2015-08-08 19:30] Manouchehri commented on #1
Hmm, could you possibly make a dd image of the partition and send it to me?

[2015-08-08 21:00] jon1012 commented on #1
I managed to find something that could possibly help, it wasn't in the specified folder but in /lib/modules. I found a file named gslx68x_ts.ko, I'll try to use fwtool on it.

[2015-08-08 21:06] Manouchehri commented on #1
http://comments.gmane.org/gmane.comp.hardware.netbook.arm.sunxi/16859

Serge Kolotylo (sergk.admin@gmail.com) seems to have done some work on it already. I skimmed through it and the main takeaway seems to be that he didn't finish, but found out the actual resolution of the touch screen is 1145×1725. Not sure if that helps much. Might be worth it to send him an email.

[2015-08-08 21:10] jon1012 commented on #1
I tried, he didn't answer. About the resolution, I've seen elsewhere it's around 1744xsomething, I don't recall where exactly.

Here are the files I extracted.

[2015-08-08 21:17] Manouchehri commented on #1
Ah, I just saw your reply and Gregor Riepl's followup. The Windows driver is floating around on a Russian board about upgrading it to Windows 10 if you're still looking for that firmware.

[2015-08-09 22:35] onitake commented on #1
fwtool is used to convert a Silead-style firmware into the format I designed for gslx680_ts_acpi. If it doesn't accept your firmware, then it is either not in the correct format, uses a non-standard data order or is corrupted. To just extract the firmware image in 'classic' format from the Android driver, use fw_extractor.

The 'classic' format is relatively simple: It's always pairs of a 32 bit a

[2015-08-09 22:39] Manouchehri commented on #1
I've fetched the Windows driver and put it in the repo if that's any easier to use.

https://github.com/Manouchehri/vi8/tree/staging/touch/firmware/windows

[2015-08-10 13:12] onitake commented on #1
That Silead.fw looks very odd to me. Scrambled maybe?

On the other hand, the firmware images extracted from gslx68x_ts.ko look good.
I recommend you open up your device and verify which GSL chip you have exactly, then pick the appropriate one from the bunch, if there is one. You can't reliably go by the ACPI ID, unfortunately.

[2015-08-10 18:28] sigboe commented on #2
We have had mail correspondence, but why not talk here so others can read as well.

People say that realtek provides drivers if one just ask, I have not had the time to try to get grub to load ubuntu live so I have not asked yet.

[code]

[2015-08-11 01:41] GalaticStryder commented on #1
Could this [I2CTools](http://www.lm-sensors.org/wiki/I2CTools) be useful for us? On my Windows 10 installation there's a several of these drivers regarding to thermal, smbus and stuff. Also, have you guys tested Arch i386 builds? I can give it spin tomorrow with Kali Linux too.

[2015-08-11 01:44] Manouchehri commented on #1
I was able to boot Arch awhile back after using `nomodeset`, but you will definitely have to compile your own version of grub (or use mine) since last time I checked there was no 32-bit EFI binary.

I wouldn't expect Kali to have much of a difference with drivers than Debian. Most of the packages are straight copies.

[2015-08-12 14:57] onitake commented on #1
Try Debian multiarch. It has bultin boot support for 32/64bit EFI (Mac style), 32bit UEFI, 64bit UEFI, and MBR (Legacy).

Also, could you send me a copy of your DSDT, if possible? I'm trying to work support for various devices into gslx680_ts_acpi, but I need some more data about what other people have. You can find it at /sys/firmware/acpi/tables/DSDT

[2015-08-12 15:34] Manouchehri commented on #1
Just on the testing installer image, right? Last time I tried the live image didn't have any 32-bit EFI bootloader on it. When I spoke with Steve McIntyre (installer image builder) in May the live image team hadn't copied his work yet (apparently the two teams are completely separate).

I can upload my DSDT next weekend if @jon1012 doesn't get to it before then.

[2015-08-12 15:47] onitake commented on #1
They managed to merge their work into debian-installer before jessie became stable. So it's in now. It was actually Steve who pointed me in the right direction when I tried to boot Debian on baytrail. See: http://blog.einval.com/debian/CDs
I don't know about the Live CDs tho.

Thanks!

[2015-08-12 16:16] Manouchehri commented on #1
Ha, Steve's inbox must be getting crushed with new Chuwi owners wondering what the heck is up with the poor 32-bit EFI support.

Nice to know it merged into stable, I'll probably fetch a new ISO to try out.

Off topic, but have you tried Debian's new EFI stub? Looks interesting; not sure if it can boot a 64-bit kernel from 32-bit though.

[2015-08-12 16:29] Manouchehri commented on #2
Sent.

[code]

[2015-08-24 09:26] sigboe commented on #2
No reply?

[2015-08-24 09:48] jon1012 commented on #1
I was away on vacation, I'll upload the dsdt as soon as I get my hand on the tablet again :)

[2015-08-24 17:23] Manouchehri commented on #2
Nope, none at all.

[2015-08-25 07:49] sigboe commented on #2
I fired off a similar email.

[2015-08-26 22:49] z3t0 opened #4 "32/64 bits"
Hi,

I am waiting for my tablet to arrive and plan on contributing heavily to this project. First of all I would like to ask some questions so I can better understand the situation (will create separate issues for each topic) . First of all, does the tablet itself not support 64 bits? or is it that we can only install windows 32 bit? Was a 32bit bios installed on the tablet?

EDIT: Until I have so

[2015-08-26 23:25] z3t0 opened #5 "Building a grub efi"
Can you please share how you managed to get the 32bit grub efi file? Thansk

[2015-08-27 00:28] Manouchehri commented on #4
The answer "both".
- CPU supports IA-32 and Intel 64
- Insyde UEFI is IA-32 only

## History

That hardware setup isn't logical and not continued in the future. It was a business/time management issue, not a technical decision.

This happened because Microsoft's InstantGo team (Instant Connect at the time) was having last minute issues on Intel 64 when shipping Windows 8.1; at the same time, Micro

[2015-08-27 00:36] Manouchehri commented on #5
`bootia32.efi` is already compiled into Debian `debian-testing-amd64-i386-netinst.iso` (and Jessie as well, confirmed by @onitake). You won't need to compile it or download it from me if you use that image.

If you want to try out another distribution, I've uploaded a [bootia32.efi](https://github.com/Manouchehri/vi8/raw/master/bootia32.efi) that should work. I used [instructions](https://github.c

[2015-08-27 00:36] #5 closed

[2015-08-27 00:36] Manouchehri commented on #2
Seems to be a dead end. I wish they would at least reply with a "no" though.

[2015-08-27 00:39] Manouchehri commented on #4
I see you're working on testing out the wireless driver, if you could post your results (or link) in #2 that would be great! If not I'm sure I'll check your Gist sooner or later.

[2015-08-27 00:40] Manouchehri commented on #4
Going to mark this as closed since the UEFI is probably not going to be changed.

[2015-08-27 00:40] #4 closed

[2015-08-27 03:42] z3t0 commented on #2
Does this driver work? https://github.com/hadess/rtl8723bs (it is linked above). Some forum posts on bbs (arch linux) suggests that some people have gotten it to work.

[2015-08-27 03:44] z3t0 commented on #5
@Manouchehri Thanks!

[2015-08-27 03:45] Manouchehri commented on #2
Can you link me? I was reading a few posts on BBS Arch earlier, most were about GRUB though.

[2015-08-27 03:45] z3t0 commented on #4
@Manouchehri I do plan on testing the wireless driver, but keep in mind that it is likely to be atleast a week (likely 1.5 - 2wks) until I receive my device.

[2015-08-27 03:51] z3t0 commented on #2
Post #12 at https://bbs.archlinux.org/viewtopic.php?id=185419
Can you possibly create a gitter room for this repository? We can easily chat there and then post our findings on the issue page.

[2015-08-27 03:55] Manouchehri commented on #2
Thanks, I hadn't seen that link before. I missed it because I wasn't paying attention to different models.

Done, added.

[2015-09-18 12:33] onitake commented on #1
If you're back from vacation, can you send me that DSDT? :)

Also, please have a look here: https://lkml.org/lkml/2015/8/25/738

If possible, try Robert's Silead driver. It requires firmware in classic Silead format (not the one produced by fw-tool). The requested file name is the ACPI device ID in lower case, supposedly. I haven't tested this yet. In my case, this would be /lib/firmware/mssl1688

[2015-09-23 22:09] Manouchehri commented on #1
@sigboe Would you mind uploading your DSDT for @onitake?

[2015-09-23 22:25] sigboe commented on #1
@Manouchehri @onitake Does this suffice? http://hastebin.com/oguvosudot.coffee

[2015-09-23 22:37] sigboe commented on #1
@Manouchehri Bonus note: After hack installing Intel Graphics drivers made for ubuntu 15.04 in ubuntu 15.10, battery reporting started to work.

[2015-09-23 22:39] Manouchehri commented on #1
Sweet, didn't expect that to be the solution! Which .deb did you use?

[2015-09-23 22:47] sigboe commented on #1
https://01.org/linuxgraphics/downloads/intel-graphics-installer-linux-1.2.0

I needed to change the reported distro I had in /etc/lsb-release to 15.04 vivid, and then install it and then change it back, and then reboot.

I still have to boot with nomodeset which also turns of 3d acceleration :(

[2015-09-24 09:11] sigboe commented on #2
@Manouchehri Have you tried to compile the hadess/rtl8723bs source code?

[2015-09-24 11:54] onitake commented on #1
@sigboe: Sorry, that's just the CPU core definitions. They don't help much. I'm looking for something like the following parts: https://github.com/onitake/gslx680-acpi/blob/master/acpi/gsl-dsdt.aml

[2015-09-24 12:18] sigboe commented on #1
@onitake I'll be home in a few hours, I'll look into it asap :)

[2015-09-24 15:16] sigboe commented on #1
@onitake Okay them, is this more correct?
https://www.dropbox.com/s/qyrv6zo90yr3ynq/dsdt.dsl?dl=0

[2015-09-24 15:32] onitake commented on #1
@sigboe Thanks, that's better. Looks like you've got one of the simplest Silead DSDT entries I've seen so far. Chances that this will work with my driver are close to zero. There is no power management definitions, only a single GPIO pin declaration, which is likely the power control pin.

Can you try the driver I from the linux-input mailing list I linked above? As mentioned, I haven't tried it m

[2015-09-24 15:34] Manouchehri commented on #1
@onitake The power management seems to be taken care of by an Intel video driver from what @sigboe said earlier. Unless you're not referring to the battery?

[2015-09-24 15:36] Manouchehri commented on #2
Not yet. I've been using Windows 10 recently, but hopefully soon I'll get another USB stick that I can install Ubuntu or Debian on permanently.

[2015-09-24 15:40] onitake commented on #1
@Manouchehri I was referring to the power control pin of the Silead touchscreen controller.

[2015-09-24 18:25] sigboe commented on #1
@onitake Am I understanding correctly if I say that that driver should be in 4.3-rc2 ??

[2015-09-24 18:54] sigboe commented on #2
@Manouchehri Managed to install the WiFi driver that @z3t0 linked, and it worked. Just

[code]

[2015-09-24 22:17] z3t0 commented on #2
Does Bluetooth work?

[2015-09-25 05:13] sigboe commented on #2
@z3t0 Sadly not.

And I only need bluetooth or touch to work to make the tablet any usable out of the house :P

[2015-09-25 05:20] z3t0 commented on #2
i see. recently ... im just thinking that i dont really need linux as i
dont plan on doing any real development on my tablet. windows 10 seems to
work really nicely as it fills in all the gaps in windows 8. If you have
not yet tried it I would recommend all of you to try windows 8 for atleast
a week as it works VERY nicely... especially if you delete the android
partition and use the full 32GB for

[2015-09-25 05:25] sigboe commented on #2
@z3t0 Yeah I tried Win8 for a few days, and then I also tried Windows 10 for a few months. They are okay, but I don't really care for them on a tablet. I would much rather have Ubuntu Touch. I am practically only missing GPU acceleration, bluetooth, touch and audio now. There are more things to be fixed, but those are not needed for me in any great deal.

[2015-09-25 06:08] z3t0 commented on #2
@sigurd I guess ubuntu touch changes things quite a bit... :D
Let me know if you get much done

On Thu, Sep 24, 2015 at 11:25 PM, Sigurd Bøe notifications@github.com
wrote:

##

Thanks,
Rafi Khan

[2015-09-25 08:31] sigboe commented on #1
https://github.com/libhybris/libhybris
This might be a dirty but complete way to get all the Android drivers to work in Linux.

[2015-09-25 08:31] sigboe commented on #2
https://github.com/libhybris/libhybris
This might be a dirty but complete way to get all the Android drivers to work in Linux.

[2015-09-25 12:17] onitake commented on #1
@sigboe Not that I know of. It needs to be reviewed by the linux-input team first and I haven't seen any approval yet. On the other hand, the patch should apply to any 4.1 or newer kernel without problems. Use `menuconfig` or add `TOUCHSCREEN_SILEAD=m` to your kernel `.config` manually, then recompile and install. Don't forget to update your initrd after. On Debian, a `make modules_install && make

[2015-09-25 12:26] Manouchehri commented on #1
Should work as an out of tree module build I think, right? DKMS is probably
the best solution, then you don't have to roll your own kernel. That's how
Virtual Box's modules are maintained on Arch Linux while still using a
stock kernel.

[2015-09-25 12:33] Manouchehri commented on #2
Bluetooth would be nice, but I guess it's not really a must for me.

Good to know that WiFi works though.

@z3t0 My Windows 10 install has ~18GB free. BitLocker and SecureBoot
enabled too.

[2015-09-25 12:42] onitake commented on #1
@Manouchehri As it is, the patch will not work out-of-tree. You would need at least a specially crafted Makefile to make it compile. For the time being, I suggest you just try it as it is. You don't have to rebuild and install the whole kernel anyway, just `insmod` the module directly.

[2015-09-27 03:36] sigboe commented on #2
https://github.com/lwfinger/rtl8723bs_bt
This might be a solution to get bluetooth working. Though I believe we also have this issue https://github.com/lwfinger/rtl8723bs_bt/issues/1#issuecomment-118639234 which requires a kernel patch.

So it looks like we need a kernel patch for both Bluetooth and Touch, better figure out how to do it :P

[2015-09-29 20:50] sigboe commented on #2
@Manouchehri @z3t0 Got bluetooth working with this https://github.com/lwfinger/rtl8723bs_bt and a modification to the kernel.

[2015-09-29 21:01] sigboe commented on #1
@onitake Okay so I have recompile the whole kernel, and also got bluetooth working, and added the driver you linked. (took a while, learning experience :smile: )

Do you have any suggestion of which of the [firmware files](https://github.com/Manouchehri/vi8/tree/staging/touch/firmware/android) you linked I should try? Or how to collect information that is relevant to figuring it out?

[2015-09-29 23:02] z3t0 commented on #2
That’s great… Really the only thing preventing me from trying linux is the touch and that I don’t want to lose what I already have setup as I have no access to a USB Hub. Do you know if the device can boot from SDCard? last time i tried it seemed not to support it

Thanks

[2015-09-30 06:09] sigboe commented on #2
@z3t0 Other similar devices can't however, its fairly easy to install GRUB on the internal flash and let it boot from the SD card. [This](http://www.ebay.com/itm/CABLE-FOR-ANDROID-TABLET-COMPUTER-3-PORT-USB-2-0-OTG-HUB-OTG-CHARGING-CABLE-/331639050796?) is the USB hub I recommend, it has some limitations but others I've tried have been worse. You cant charge while using that mode on the usb hub th

[2015-09-30 13:57] onitake commented on #1
Well, the obvious answer would be: Open up your device and check the etching on the chip.
If that isn't an option, you could just test different firmwares, starting with the 1680 fw (that's the lowest-end chip).

Silead touchscreen controllers don't seem to have any means of determining the exact chip ID in software. And the DSDT doesn't help either.

[2015-09-30 14:02] sigboe commented on #1
@onitake okay so the workflow would be, download all the .fw files and put them in a folder?

`cp` first file `/lib/firmware/mssl1688`
reboot, test,
`cp` second file `/lib/firmware/mssl1688`
reboot, test, repeat

[2015-09-30 14:03] onitake commented on #1
You don't have to reboot.
Just `insmod` the module. Check the kernel log, then `rmmod` if it doesn't work. Rinse and repeat.

[2015-09-30 14:05] onitake commented on #1
It's possible you may not actually see anything in the kernel log. In that case, enable debug messages for the driver.

[2015-09-30 14:11] sigboe commented on #1
@onitake okay I am stoked now.  Omw home from work now, so I can try really soon :-)

[2015-09-30 15:01] sigboe commented on #1
@onitake Hmm I cant find my silead module, according to my buildlog it compiled just fine. I didn't compile it as a module though (im new to compiling the kernel) so does that mean it should not be listed as a mod? And would it then be correct for me to reboot every time?

[2015-09-30 15:11] onitake commented on #1
I strongly recommend you build it as a module instead. It will be much easier (and faster) to debug. The module should be called `silead.ko` and you can load it directly from the kernel build tree (just pass the exact path to `insmod`). No need to install it during testing.

If you compiled it into the kernel (`TOUCHSCREEN_SILEAD=y`), then yes, you need to reboot every time as there's no way to ki

[2015-09-30 15:15] sigboe commented on #1
Okay, I will reboot this time, since I can do this in less than the time it takes to build again :yum: But the next time I will for sure compile as a module. Also if this does not work.

[2015-09-30 15:41] onitake commented on #1
An out-of-tree module Makefile would be even faster. See https://github.com/onitake/gslx680-acpi/blob/master/Makefile for example, it shouldn't be hard to adapt this to `silead.ko`.

[2015-09-30 15:51] sigboe commented on #1
@onitake sorry I would not know what to change, and while I am really interested to learn about make files I don't know if thats the best place to start :stuck_out_tongue:
I have now
`sudo cp <file> /lib/firmware/mssl1688`
`sudo reboot`
and tested every file in the android and windows folder now. None of them work... So, I guess I'll recompile my kernel with it as a module, then potentially enable

[2015-09-30 16:07] onitake commented on #1
All you say could be true. :)

As I mentioned before, I have not managed to test the driver thoroughly myself, so I can't tell you for certain if everything is as I say. This is merely the information I gathered from the source code.

As for changing the Makefile, this should be really easy. You just need to change `gslx680_ts_acpi` to `silead` - use search and replace. Then, copy silead.c from th

[2015-09-30 16:16] sigboe commented on #1
![Silead GSL 3676](https://cloud.githubusercontent.com/assets/2087930/10199032/26c39b50-679f-11e5-9cd0-b032f04e10ef.png)

Is this helpful, found this on Youtube. If the numbers in the bottom is important I could open mine up as well.

[2015-09-30 16:39] onitake commented on #1
Well, this is definitely helpful. The poster seems to have a Silead GSL3676 touchscreen controller. If you have the exactly same device, you should also have the same chip. But be aware that manufacturers may change their exact hardware specs at any time. Can you open the case without damaging it?

[2015-09-30 16:47] sigboe commented on #1
Its very tempting to try, here is the video:
[![Cracking open the Chuwi Vi8](http://img.youtube.com/vi/YTnx-fupZ30/0.jpg)](http://www.youtube.com/watch?v=YTnx-fupZ30)

I have the tools :stuck_out_tongue: I just hope I don't get a squashy fit back together.

[2015-09-30 18:08] sigboe commented on #1
@onitake I opened my tablet and the chip here is called
Silead
GSL3676
C2B0E5R180N

Had to use an Oculus Rift lens to read it, and the tablet put together nicely after.

[2015-09-30 18:25] Manouchehri commented on #1
Finally, a practical use for a Oculus Rift. ;)

[2015-10-01 06:11] sigboe commented on #1
Well I had time to sleep on the problem, and of course, I could not sleep :stuck_out_tongue_closed_eyes: so I read up in the dtst file and It seams like the firmware file should have been called `/lib/firmware/mssl1680` instead of the same as @onitake

To bad yesterday evening I started to look at another problem, and I broke my install presumably by a Mir related package. So I need to reinstall b

[2015-10-01 08:28] sigboe commented on #1
@jon1012 Do you still have a working Android running?  According to [this mailinglist thread](http://comments.gmane.org/gmane.comp.hardware.netbook.arm.sunxi/16859) some newer drivers print a message in `dmesg` which firmware they loaded so that might be hint which one to try first.

[2015-10-01 08:36] jon1012 commented on #1
A simple dmesg in the adb console would do ?

Le jeu. 1 oct. 2015 à 10:28, Sigurd Bøe notifications@github.com a écrit :

[2015-10-01 08:40] sigboe commented on #1
@jon1012 presumably, but `grep` for something might be needed to filter out som irrelevant information.

[2015-10-01 08:53] jon1012 commented on #1
Here are the lines that I think are relative to touch :

[code]

[2015-10-01 09:02] sigboe commented on #1
@jon1012 Could you `grep` for `mssl1680`

[2015-10-01 09:08] jon1012 commented on #1
No occurence in the dmesg file of mssl. (By the way, I tried to attach the full dmesg record .txt to the thread but wasn't able to do so)

The only occurence of 1680 was in this sequence :

[code]

[2015-10-01 09:24] sigboe commented on #1
Paste.ubuntu.com allows for more text than hastebin or pastebin
On 1 Oct 2015 11:08, "jon1012" notifications@github.com wrote:

[2015-10-01 09:28] jon1012 commented on #1
Indeed. Here is the paste then : http://paste.ubuntu.com/12630763/

Le jeu. 1 oct. 2015 à 11:24, Sigurd Bøe notifications@github.com a écrit :

[2015-10-01 09:50] sigboe commented on #1
Thanks, I am going to reinstall Ubuntu when I get home. Definitely going to try to have the firmware file's going to be `/lib/firmware/mssl1680` and going to also try `/lib/firmware/pnp1680`

[2015-10-02 10:32] sigboe commented on #2
There was 50% off on the Intel Compute Stick ($60) that runs this chipset. I ordered one, it runs Ubuntu 14.04 LTS, so maybe I can rip out some drivers or what not.

[2015-10-02 17:08] sigboe commented on #1
Success!! Well almost! Managed to get my tablet to recognise touch input, albeit the touch is not accurate at all, had to ask Robert from Intel and he told me how I could modify the source code of his driver. I am trying out different compiler settings for resolutions now.

[2015-10-02 18:15] Manouchehri commented on #1
There should be a calibration program around somewhere.

[2015-10-02 18:25] onitake commented on #1
@sigboe Nice!

For Xorg/xinput, you can use this: http://www.freedesktop.org/wiki/Software/xinput_calibrator/

If you just want to debug, you can also try https://wiki.ubuntu.com/DebuggingTouchpadDetection/evtest

[2015-10-02 18:44] sigboe commented on #1
I think the resolution of the touch screen is wrong, the driver is expecting 4095x4095, its easily changed in a #DEFINE statement. I have tried 1145×1725, and now compiling 1725x1145. But I have not learned to compile just the module yet, so yeah you know. Hour long build.

@onitake do you suggest I leave #define SILEAD_MAX_X and #define SILEAD_MAX_Y to the default 4095x4095 and run the calibratio

[2015-10-02 19:26] jon1012 commented on #1
@sigboe https://github.com/sigboe  Great ! Yes please :) I would love to
experiment with it !

Le ven. 2 oct. 2015 à 21:04, Sigurd Bøe notifications@github.com a écrit :

[2015-10-02 19:54] sigboe commented on #1
@jon1012 [Here](https://raw.githubusercontent.com/Manouchehri/vi8/staging/touch/silead.patch) is the patch. I posted it to staging since it doesn't work all the way. Say if you need help

I used the [FW_I89_GSL3676B_19201200_.fw](https://github.com/Manouchehri/vi8/blob/staging/touch/firmware/android/FW_I89_GSL3676B_19201200_.fw?raw=true) firmware file from staging. It needs to be placed like `/lib

[2015-10-03 16:56] onitake commented on #1
@sigboe I strongly discourage changing the #defines.
You can, of course, but the aim of the driver is to provide generic compatibility with all Silead controllers and ACPI configurations.

As the controllers provide no builtin configuration variables themselves, display resolution and other device parameters needs to be provided externally. Robert's driver obtains them from the ACPI DSDT, but no c

[2015-10-04 18:35] sigboe commented on #1
@onitake Robert says that if we use the correct firmware it should just work. In case the way the fw has been extracted has ruined some things, do you have any suggestions for the proper way to extract the firmwares from the android .ko file?

[2015-10-04 20:03] sigboe commented on #2
@Manouchehri are you sure that its the same chip for Audio also? I cant find any documentation that says that this chip has Audio. Maybe we should open a seperate issue for the audio chip, I think it could be more productive.

[2015-10-05 12:55] onitake commented on #1
I'm confused: Didn't you say the touchscreen was working for you?

Yes, what Robert says is correct. If you have the right firmware for your device, it should just work.
Unfortunately, the firmware images have no means of verification and device identification, so if the image is corrupt, it is corrupt and neither you nor the driver will notice.

You could run my [fwtool](https://github.com/onitak

[2015-10-05 13:16] sigboe commented on #1
@onitake
It does not actually work, I am sorry if at a passing glance my message would make you believe so.
I get to click once, and it wont do a "button release", this is true for I believe all the firmware's I have tried. Firmware unloading does not work, so I need to reboot, between each time and write down my findings. After calibration `xinput_calibrator` some firmware's get pretty accurate,

[2015-10-05 14:24] onitake commented on #1
Ok, there are a few things here:

The behaviour you're seeing is mostly likely caused by missing or broken finger tracking. The symptoms are typical, I've seen them myself. Robert added in-kernel finger tracking to the driver upon my request, but I do not know how to enable or disable it. You may have to ask him personally or check the source code.

As far as I know, the Silead controllers store t

[2015-10-05 14:27] sigboe commented on #1
Input may partially work with a firmware that takes this time to load.

So you think silead will supply a firmware if I ask?

[2015-10-05 15:00] onitake commented on #1
You can always give it a shot. But it is very, very unlikely they will even respond. The "firmware" is in fact a data set generated by a configuration tool that platform designers use to customize the Silead controller for their touch panel. It is unknown what it actually contains and the configuration tool is not available publicly.

If anything, you may have a tiny bit more luck contacting Chuwi

[2015-10-05 15:03] sigboe commented on #1
@onitake Thats a great idea, I'll try both. You would think that Chuwi got the drivers for the chips they bought. That's if they asked for it, or depending on the agreement. Hope they speak Engrish. I won't bet money on that even they would answer though.

[2015-10-07 14:27] jon1012 commented on #1
I tried using the userspace driver but didn't find the correct gpio from the dsdt table.

Anyone has go tthe good gpio and could give it to me ?
Which one should I export ? (like /sys/class/gpio/gpiochipXXX)

Jonathan

[2015-10-07 14:28] jon1012 commented on #1
FYI, here is the DSDT dsl table I got on my device :
http://paste.ubuntu.com/12704899/

[2015-10-07 15:07] jon1012 commented on #1
Ok, so testing with the client side driver found on https://github.com/rastersoft/gsl1680 I got quite good results.

I used the GSLX680_FW_I86_GSL3676B_8.fw firmware file (the firmware file is one of those I uploaded on the staging branch).

Here is the command line I used :
./gslx680 -res 1145x1725 /dev/i2c-3 ../vi8/touch/firmware/android/GSLX680_FW_I86_GSL3676B_8.fw

Once clicked, there is no up

[2015-10-07 15:35] sigboe commented on #1
@jon1012 AFAIK, but I am not sure, its the GPIO1, and there are like 50 if I am not mistaken if you want to try them. Expect crashes if you write to a wrong GPIO. Also, if I understand correctly the only thing this GPIO does is actually turn on the chip, so I presume its doing fine.

You get one click going? Have you tried running as root? Did you try Robers driver that both @onitake and me have m

[2015-10-07 15:56] jon1012 commented on #1
So far it looks like it works perfectly.
I even added the systemd hooks to make it run on startup.

The problem is that it uses the click and move as a scroll feature and not
as a mouse clicking and moving. So I can't move windows, but I can scroll
in windows.

I don't think I'll need the gpio stuff if it's working without it.

Now, I have to find out how to make the tavblet run directly on linux

[2015-10-07 16:00] jon1012 commented on #1
I tried all the firmware files, and it's the only one that works correctly
(the other ones are reversed, or have problems in the middle of the screen,
etc).

I didn't try your driver yet, as I don't want to recompile the kernel.

Le mer. 7 oct. 2015 à 17:56, Jonathan Schemoul jonathan.schemoul@gmail.com
a écrit :

[2015-10-07 16:01] sigboe commented on #1
@jon1012 You don't need to recompile the kernel, I can upload it as a .c file with a make file I was allowed to steal from onitake and change.

[2015-10-07 16:26] onitake commented on #1
@sigboe Source code can not be stolen. If you copy it, the original remains. :)

Can you create a github repo? That will make it much easier for others to download the driver and submit pull requests. You could also add a README with some installation instructions.

[2015-10-07 16:30] sigboe commented on #1
@onitake how do I license this? Since its mainly Robers work?

[2015-10-07 16:33] Manouchehri commented on #1
If it's just GPL (which most Linux drivers are), then throw a copy of the
GPL in your repository and you're good.

If there's no license listed, emailing to ask if it's GPL is usually the
easiest approach.

[2015-10-07 16:44] onitake commented on #1
The head of of silead.c says that it's GPLv2 licensed. As for the Makefile, I don't think a Makefile will even qualify for copyright. But you make everyone a little happier if you apply the same license as for the source code.

[2015-10-07 17:38] sigboe commented on #1
@onitake @jon1012 @Manouchehri  https://github.com/sigboe/gslX68X

Onitake, if you see any glowing newbie mistakes please point them out or maybe you should even have write access.

[2015-10-07 18:13] sigboe commented on #1
@jon1012 With the user space driver I am unable to use the default GPIO it gives me error `Can't open device /sys/devices/virtual/misc/sun4i-gpio/pin/pb3` did you not specify a GPIO port?

[2015-10-07 18:58] jon1012 commented on #1
@sigboe I didn't specify a gpio as I didn't have the good one. It complains
about it but it works anyway.

Le mer. 7 oct. 2015 à 20:13, Sigurd Bøe notifications@github.com a écrit :

[2015-10-07 19:00] jon1012 commented on #1
@sigboe just wait a bit for everything to settle and it will start working
(typically, after two round of errors about this gpio file handle going
missing)

Le mer. 7 oct. 2015 à 20:58, Jonathan Schemoul jonathan.schemoul@gmail.com
a écrit :

[2015-10-07 19:01] sigboe commented on #1
@jon1012 do you get a wall of text saying it cant load the firmware larger than the terminal emulators framebuffer first?

[2015-10-07 19:29] jon1012 commented on #1
@sigboe nope. Here is the command I launch from the systemctl script and
the result :

# /bin/gslx680 -res 1145x1725 -new_scroll /dev/i2c-3

/etc/gslx680/firmware.cfg
Connecting to device /dev/i2c-3, firmware /etc/gslx680/firmware.cfg
Can't open device /sys/devices/virtual/misc/sun4i-gpio/pin/pb3
Can't open device /sys/devices/virtual/misc/sun4i-gpio/pin/pb3
=============gsl_load_fw start=========

[2015-10-08 07:50] sigboe commented on #1
@jon1012 What distro are you using? Arch? I get the same lines of feedback up to and including
    =============gsl_load_fw end==============
However I get error messages saying something like the number of fingers cant be read, and I think it was error message -1 or something. I think they are posted about the speed of the polling rate of the touch screen, fills up the terminal text frame buffer

[2015-10-08 08:05] jon1012 commented on #1
@sigboe I'm using FedLet from last december. I'll try with ubuntu when I
get time.

I'll also try your driver.

Jonathan

Le jeu. 8 oct. 2015 à 09:50, Sigurd Bøe notifications@github.com a écrit :

[2015-10-17 23:26] Manouchehri commented on #1
@sigboe Haven't done much with my Vi8 lately (I bought a new battery and SSD for my laptop, so I've decided to use that instead for another few years). I did get another SD card for Ubuntu though.

[2015-10-18 04:26] z3t0 commented on #1
just to clarify... touch is working?

[2015-10-18 20:11] sigboe commented on #1
@z3t0 I have not been able to get it working on Debian based distributions, but @jon1012 was able to get the userspace driver working in Fedora.

[2015-11-02 19:10] GalaticStryder commented on #1
Guys, I have modified the original Chuwi system.img to make it less bloated and I plan to do some basic UI changes soon as well as trying to port a newer android version for it, the only problem I've got is that I blanked all partitions to leave WIndows 10 only some months ago... and now I need to redo the partitions manually throughout the fastboot mode (aka DNX). Any way to do it? Device is part

[2015-11-02 20:07] Manouchehri commented on #1
There's a few forums you can find via Google that have posted/uploaded the full images. Most of posts are in Russian.

[2015-11-14 20:35] kitor commented on #1
Hi,
Sorry for hijacking thread, but I own similar device - Prestigio Multipad Visconte Quad - PMP880TD with very similar touchscreen controller and I'm trying to get it running without luck.
It's shipped with Win8, there's no firmware (at least as separate file) in drivers. It identifies itself as MSSL168A, GSL3670 is written on controller itself.

What I already done is ACPI table dump, here: htt

[2015-12-03 19:35] djvdorp opened #7 "How different/difficult would it be to use this for running Linux on the hi8?"
Hi8 specs (mine): http://www.gearbest.com/tablet-pcs/pp_219480.html
Vi8 specs (yours): http://www.gearbest.com/tablet-pcs/pp_187771.html

[2015-12-03 19:50] Manouchehri commented on #7
It really depends on the exact controllers inside of it. It could be easier
or harder.

If you share some system information that would probably help. Boot up a
Live USB and post dmesg, lsusb and lspci.

[2015-12-04 15:05] djvdorp commented on #7
Thanks @Manouchehri -- will try to do that as soon as I get a Linux Live USB booting on it.
I also started my own repo (inspired by yours) to get more information and resources into the open about the hi8, can be found here: https://github.com/djvdorp/hi8

[2015-12-04 17:49] djvdorp commented on #1
No idea if this is of any use to you, but I was fiddling around in the `system.img` of the Hi8 (Vi8's brother) and there is a file that has some `gpio` numbers in it:

[code]

I also added the touchscreen related files to my own repo (for the Hi8), can be found here:
https://github.com/djvdorp/hi8/tree/master/drivers/windows/touch

[2015-12-10 16:26] Manouchehri commented on #1
Alright folks, I've decided to take an interest in this again since I want to use the device for another project. This week I'll try to package everything up nicely.

@sigboe @jon1012 Do either of you have any packaging/maintaining experience? I can do the Arch one myself, but I'm not a fan of Debian's packaging and I'd like to avoid doing it myself if possible. ;)

[2015-12-10 16:31] sigboe commented on #1
@Manouchehri [This](http://customizeubuntu.com/ubuntu-livecd/) guide works very well. I can probably do it, but things have to work first haha.

[2015-12-10 16:48] Manouchehri commented on #1
Thanks, but I'm looking to create a single package instead of an entire image. Less maintenance later that way.

[2015-12-11 10:25] GalaticStryder commented on #1
Any help needed? I'm desperate to try anything to get rid of that memory sucker Windows 10. I might look for the fstab for the Chuwi so we can create automated scripts to setup Android along Arch, I even prefer to get only Android if that's the case, tablet is not as big for a real workstation, just need to pump it's Android version with an AOSP build (might be easier once there's no RIL and shit

[2015-12-11 10:29] sigboe commented on #1
@GalaticStryder Touch Driver

[2015-12-18 05:54] z3t0 commented on #1
@GalaticStryder Do you know how we can install Android only? I currently have the dualboot edition but have already removed android (earlier) to get more space for windows... Now I am thinking it may be a good idea to switch to android only.. .atleast until linux works reliably.

[2015-12-20 15:17] GalaticStryder commented on #1
@z3t0 I'm willing to compile CM11 for it but I'm also in the same condition, I think regenerating the original partition scheme and using dd should do the job.

[2015-12-21 04:36] z3t0 commented on #1
@GalaticStryder Thanks for the reply, in that case I will work on assembling some resources for re-installing android, however it may take a while as I do not have access to either a USB Hub or Keyboard.

Also, are there any real motives for installing linux? Besides storage that is. What kind of touch support does linux have anyways? I find that after using this device for a while, it is much mor

[2015-12-21 13:43] GalaticStryder commented on #1
@z3t0 What you should do, cause this tablet isn't big enough for development, is wipe it up and install Android on it. I'm poking around to get the kernel for this tablet from Chuwi so I can optimize some stuff. Chuwi's Android is another piece of crap but having the decompiled img files, creating a CyanogenMod adaptation tree from another Atom tablet should be hard though. At least Android is a l

[2015-12-21 13:47] jon1012 commented on #1
Linux with Gnome is great and kinda work on this tablet. However, screen is
quite small, so I wouldn't bet on it for dev.

I've bought a v919 air 3g dual os 64g for a bit more and trying to use this
as my dev machine (touch screen works now, wifi too, still missing some
stuff, but it's getting there) :) Using the vi8 for comic reading and such
stuff.

Le lun. 21 déc. 2015 à 14:43, Ícaro Hoff notif

[2015-12-21 13:50] GalaticStryder commented on #1
@jon1012 I agree in this point too, I use Gnome 3 on my daily driver laptop and so far so good. The screen isn't a problem since I used it on a 7' inch tablet and no problems at all.

[2015-12-21 23:30] onitake commented on #1
I tried a few Linux desktop environments on a different tablet and came to the conclusion that most of them have quite terrible touchscreen usability. Only Enlightenment 17 seemed decent. Ubuntu Unity may work better, but it's not easy to install on Debian, so I didn't try it.

I'm surprised that you liked Gnome 3. The touch keyboard is the most terrible one I've ever seen.

[2015-12-27 20:23] z3t0 opened #8 "Install Android"
Hi All.

@GalacticStryder

I currently have a Chuwi Vi8 with Windows 10 only (the android partition was formatted and deleted) and would like to install Android only. Does anyone know how I can go about doing this? Also, I dont have a USB keyboard/hub is there any way to do it without this?

Thanks!

[2015-12-27 20:24] z3t0 commented on #8
Also, Does anyone currently have the native dual boot configuration? If so can you please share some details in regards to the partition scheme.

[2015-12-30 16:57] barni2000 commented on #1
You can get firmware from SileadTouch.sys with  dd.
- dd if=SileadTouch.sys bs=1 skip=38960 count=39600 of=firmware.fw
- generate the frimware for gslx680-acpi driver with fwtool
- you can guess the touch screen resolution with evtest, after you generate the firmware with 1280x800 resolution. (For example: i have a tablet with 1280x800 screen, but touchscreen resolution is 1650x800)

The value of

[2016-01-18 14:46] onitake commented on #1
(Sorry for the multiple edits, I forgot that Manouchehri posted about this before)

It doesn't look like the latest Windows drivers contain any compiled-in firmware image. Instead, they load `SileadTouch.fw` directly.
I wrote [a little tool to unscramble it](https://github.com/onitake/gslx680-acpi/blob/master/firmware/scrambled2tscfg).
This will net you a `GSL_TS_CFG.h`. [The readme](https://githu

[2016-01-18 16:53] barni2000 commented on #1
There is a firmware in the SileadTouch.sys. The SileadTouch.fw is something else.
I have  similar tablet and I dumped it from SileadTouch.sys and it's working.
![fw](https://cloud.githubusercontent.com/assets/9256038/12397029/d8991dfc-be0a-11e5-8488-60f25f4ab220.png)

[2016-01-18 17:11] onitake commented on #1
Strange. It must be an older driver version then?
This is the driver I'm working with: http://download.trekstor.de/tl_files/userFiles/products/surftab_wintron_70_v2/PG-HK70DR2503.zip

Can you check if these firmwares are really different for your Windows driver (after unscrambling), or provide a link where I can download it an compare myself?

[2016-01-18 17:41] barni2000 commented on #1
There is a firmware in your sileadtouch.sys. There is a part wich needs to be left out. The beginning is a trivia, but the end is a bit tricky. There is lots of zeros but you need to take out some not-zero-lines, about 2 lines.
![fw2](https://cloud.githubusercontent.com/assets/9256038/12398145/06b08962-be12-11e5-8fc8-2542af1acbca.png)

[2016-01-18 17:52] barni2000 commented on #1
It is my windows driver and dumped firmware. There is text file which contains some information about how i generated the firmware, and exact beginning and the ending of the firmware in the SileadTouch.sys.
[fw.zip](https://github.com/Manouchehri/vi8/files/94789/fw.zip)

[2016-01-19 15:45] onitake commented on #1
Do you also have a `SileadTouch.fw` that was included with your driver, or are these all the files?

Both drivers definitely contain code to load `SileadTouch.fw`. The function is called `GSL_Load_CFG`, judging from the debug messages. If there's a firmware blob contained in `SileadTouch.sys`, it may be a fallback or base version in case no separate firmware file can be found.

On a different note

[2016-01-19 16:09] onitake commented on #1
Here's the result of comparing the firmware blob from `SileadTouch.sys` and the unscrambled data from `SileadTouch.fw` ([this driver](http://download.trekstor.de/tl_files/userFiles/products/surftab_wintron_70_v2/PG-HK70DR2503.zip)):

[code]

Around the end of the images, there's an embedded timestamp (in reverse byte order). Interestingly, these match.

And judging from the look of the data, yes,

[2016-01-20 21:45] barni2000 commented on #1
I have only these files, but my SileadTouch.sys is unique. The touchscreen doesn't work with any other windows driver for this control chip. I had to dump firmware from the sys file, because I did not have SileadTouch.fw. I got the values in touch_firmware_params.txt, from evtest on Ubuntu. I've got an 8 inch, Bay Trail tablet.

[2016-01-21 14:28] onitake commented on #1
Ok, I see. That's really interesting.

Perhaps it is designed like that: The driver contains a built-in firmware image, but the manufacturer can override it with an external `SileadTouch.fw`. This way, they don't have to recompile and codesign the driver whenever they change something in the hardware. Or, the ODM delivers a complete driver package, and the manufacturer only has to swap out the fir

[2016-01-21 15:32] sigboe commented on #1
Fascinating. Give the lazy the task so they will find the easiest way to
complete the task.
On Jan 21, 2016 3:28 PM, "onitake" notifications@github.com wrote:

[2016-01-22 02:07] uberlinuxnoob commented on #1
I really hope these help guys firmware and some source not sure if it is any good lots of web searching to compile this file of goodies.

https://www.dropbox.com/s/5ayv2k66knawze6/Silead_MSS_1680.rar?dl=0

[2016-01-22 17:22] onitake commented on #1
@sigboe Well, sorry for being lazy. It's not like I have anything better to do than to mess with touchscreen controllers...

@uberlinuxnoob Thanks! Perhaps we should create a repo to collect all these firmware images.
Do you know which device(s) they are for exactly? The vi8?
`Android/asl.txt` looks _very_ interesting, by the way.

[2016-01-22 17:48] sigboe commented on #1
@onitake I appreciate it :smile:
I haven't used my Chuwi so much since I never got the touch screen to work, maybe I will give it another try next week.

I want to try with a cherry trail tablet, but I also want to wait for the next generation of atom, since cherry trail most only is a GPU upgrade to bay trail.

[2016-01-22 18:07] onitake commented on #1
I'm pretty sure that Silead is made to stay, even if Intel ups the ante. So it would still be very awesome to finally have a reliable driver. It currently works for me, but I got a few reports from other TrekStor users who have problems. Hope we can sort them out soon.

At least it's looking good on the firmware front.

[2016-01-22 22:24] uberlinuxnoob commented on #1
@onitake An 8.9" OnDemand don't know model number. I really hope you can get it to work correctly with what I provided I want touch to work in Linux on my tablet. Can you PM me here love to discuss in private about assisting more on this front on hardware end of things.

@sigboe There is a lot more then GPU upgrade to the Cherry Trail might want to look at white papers on it ;)

[2016-01-24 03:54] barni2000 commented on #1
You should try this driver [onitake/gslx680-acpi](https://github.com/onitake/gslx680-acpi).

[2016-01-24 13:04] holzingerm commented on #1
Many thanks to onitake
Tested my win10 driver fw with fwtool from https://github.com/onitake/gslx680-acpi

finaly got it working  on Ubuntu 15.10 with mainline kernel 4.4.0-rc5 (not calibrated atm)

TrekStor Surftab Wintron 7.0 (gsl1680, 1024x600)
[silead_ts.fw.zip](https://github.com/Manouchehri/vi8/files/102331/silead_ts.fw.zip)

[2016-01-24 21:19] jklmnn commented on #1
I'm getting the error `Failed to change power state to D3hot` with this one on the same tablet with Debian 8 and the Kernel 4.2.0 from the backports.
EDIT: With the 4.4.0-rc5 I can insert the module and dmesg shows events, but only of my external keyboard.
@holzingerm how did you check if touch is working? And what is xinput showing?

[2016-01-25 17:20] jklmnn commented on #1
I got it working with this variant:
https://www.reddit.com/r/linuxmasterrace/comments/428cap/xpost_rdebian_after_long_hours_i_successfully/czb5klm

[2016-01-26 15:35] djvdorp commented on #1
@onitake any way to get in touch with you? I am experimenting with the Chuwi Hi8 but am unsure if I am doing everything right and how to proceed. My email and contact details are on my github profile!
Repo here: https://github.com/djvdorp/hi8/tree/master/drivers/linux/touch

[2016-01-26 16:21] onitake commented on #1
@djvdorp You can contact me by email. The address is now visible on my github profile.

Which driver are you using? gslx680-acpi, rastersoft or something else?

`SileadTouch.fw` is what you want, to use it with rastersoft or any other driver, use [unscramble](https://github.com/onitake/gslx680-acpi/blob/master/firmware/unscramble) to convert into a legacy binary firmware image. If you'd like to tr

[2016-01-26 16:29] barni2000 commented on #1
HI8 has another acpi id ACPI\MSSL0001.

[2016-01-26 16:31] djvdorp commented on #1
@barni2000 thanks for the heads up, do you happen to have experience with the hi8? Or what tablet did you get working?

@onitake thanks for your contact information, I will contact you there to not derail this issue too much :+1:

[2016-01-26 16:32] onitake commented on #1
@barni2000 MSSL0001? That... doesn't look right. Can you add that ID to [gslx680_ts_acpi.c:711](https://github.com/onitake/gslx680-acpi/blob/master/gslx680_ts_acpi.c#L711) and see if the driver works?

[2016-01-26 16:33] onitake commented on #1
@djvdorp I think it's too late, this has become sort of a support thread already. :)

[2016-01-26 16:36] barni2000 commented on #1
@onitake you should add the issues function for your repository.

[2016-01-26 16:37] onitake commented on #1
@barni2000 You're right. Done.

[2016-01-28 22:00] sigboe commented on #1
I got touch to work!
going to do a short write up of the steps similar to the howtos for wifi and bluetooth

[2016-01-28 22:48] sigboe commented on #1
@Manouchehri instructions are up if you want to give it a spin, I supply firmware and calibration. I can finally use this tablet for leisure.

Snap, does not look like my calibration works on the logon screen, will not fix tonight. Its almost weekend soon maybe I get the time.

[2016-01-28 23:45] onitake commented on #1
@sigboe In case you didn't, you should commit the calibration data to /etc/X11/xorg.conf.d/99-calibration.conf or /usr/share/X11/xorg.conf.d/99-calibration.conf (use the latter on Debian etc.) so they get loaded every time Xorg is started. Anything else is not that useful.

[2016-01-28 23:50] sigboe commented on #1
@onitake I did add it to `/etc/X11/xorg.conf.d/01-input.conf` but it does
not work before I log in. Have any clue how to add it so it does work at
the login screen?

Wish I had the correct information to put in the resolution of the firmware
so we didn't need a calibration file though, but I've tried what I read in
this thread of suspected resolutions. Do you presume it is in the firmware
already?

[2016-01-28 23:57] onitake commented on #1
Well, I'm quite sure the dimensions are _somewhere_, but I have not clue what to look for.
In the meantime, I'd just suggest you test. Set width and height 4095, then run `xinput test` and see what values you get. Then you round up a bit and this should be your values. If you don't set any values, they will either be 0 (so the touchscreen will not work at all) or 4095 (which is the maximum for a 1

[2016-01-29 00:02] sigboe commented on #1
@onitake, I do not get screen rotation either on login, do you presume the
calibration only works for the rotation I calibrated for? Ubuntu has quite
a few flaws, I'm just working towards getting Ubuntu touch working haha.

On Fri, Jan 29, 2016 at 12:57 AM, onitake notifications@github.com wrote:

##

[2016-01-29 00:04] sigboe commented on #1
@onitake I actually did not ad it to `/etc/X11/xorg.conf.d/` but
`/usr/share/X11/xorg.conf.d/` when I look at my documentation. Maybe I can
try `/etc/X11/xorg.conf.d/` but that will have to wait for tomorrow after
work.

On Fri, Jan 29, 2016 at 1:02 AM, Sigurd Boe sig.boe@gmail.com wrote:

##

[2016-01-29 19:25] barni2000 commented on #1
On Ubuntu or Debian you should copy the 99-calibration.conf /usr/share/X11/xorg.conf.d.
It's working on login screen.

[2016-01-29 19:50] sigboe commented on #1
@barni2000 its not allowing for touch in the login screen, its the first folder I placed it in and its where my [step by step instructions](https://github.com/Manouchehri/vi8/blob/master/Ubuntu_instructions.md#touch)  put it.

Do you have any other suggestions?

[2016-01-30 23:41] sigboe commented on #2
http://ubuntuforums.org/showthread.php?t=2254631

someone who got audio to work.

I just reinstalled Windows to try and get dualboot into the guide, still looking for my microSD card. So I haven't tested this out yet.

[2016-02-01 02:01] sigboe commented on #1
@onitake I just had an idea, and was wondering about the feasibility. Would it be possible to get some raw information out of running an application in Windows, like touch screen information, and use that to deduce the resolution of the touch screen?

[2016-02-01 17:42] onitake commented on #1
@sigboe You mean, like asking the operating system for the input device dimensions and multitouch support? It may be possible, though I do not know how the Windows desktop interacts with HID device drivers, and if there is such an API. Perhaps this? https://msdn.microsoft.com/en-us/library/windows/hardware/jj126202%28v=vs.85%29.aspx

[2016-02-03 12:31] sigboe commented on #8
I think you can look at the image that is posted on needrom, and see if there are Android instructions there.

[2016-02-03 12:43] GalaticStryder commented on #8
@z3t0 You can do it on Linux using fastboot commands when in DnX mode. Or use Windows: Intel has an app for that, you'll need to disable driver signature and then run the app to install the img. I'll link you the guide for that.
It's in spanish: https://mega.nz/#F!uEAzBQjT!S7jMaqeQSVC0-QlgCkVXGQ
Although very easy to understand, better than Chinese imo.

[2016-02-04 17:26] onitake commented on #1
As announced previously, I created a separate repo to collect firmware images for Silead touchscreen controllers: https://github.com/onitake/gsl-firmware

Please post any requests and firmware questions there.

[2016-02-05 21:32] sigboe commented on #1
Right now touch is working great, not perfect but its getting there. Touch issues should be directed to

[onitake/gslx680-acpi]https://github.com/onitake/gslx680-acpi) for driver related issues and [onitake/gsl-firmware](https://github.com/onitake/gsl-firmware) for firmware related issues.

Right now the status is problems with right click (I believe @onitake is looking into this) and rotation of

[2016-02-05 21:32] #1 closed

[2016-02-05 21:34] sigboe commented on #8
@Manouchehri is the goal to support InsydeH2O's Android implementation or AOSP / Android-x86 ??

[2016-02-05 21:40] sigboe commented on #7
Closing this issue since its better to have the discussion on the other github repo, will add @djvdorp link to our readme, feel free to do the same. And remember you can use a lot of the information from our repo for your work, if you see something I have done before you can open an issue about it on your repo and tag me I will try to answer.

[2016-02-05 21:40] #7 closed

[2016-02-05 21:44] sigboe opened #9 "Accelerometer"
Accelerometer does not work out of the box.

[2016-02-06 00:13] Manouchehri commented on #8
@sigboe I don't _think_ building an AOSP image would be that hard since we've/you've figured out where most of the drivers are located. That being said, I haven't done it myself before.

Probably figuring out how to flash back the Chuwi/InsydeH2O stock image and then working on AOSP would be easier.

[2016-02-06 00:18] Manouchehri commented on #9
It shows up as `bma2x2accelerometer` on Windows; tried this yet?

https://github.com/gp-b2g/gp-peak-kernel/blob/master/drivers/misc/bma2x2.c

Should be Android kernel source code for it.

[2016-02-06 16:15] sigboe commented on #9
@Manouchehri Would be great if you could look into making a makefile for this, if not I will try when I have time.

[2016-02-07 13:10] GalaticStryder commented on #8
@Manouchehri Yeah, but building AOSP without a source tree first is a bit weird IMO. I don't know if they release their kernel sources (Chuwi), if not, we'll need to use the pre-compiled one.

[2016-02-07 13:15] sigboe commented on #8
A big reason to do AOSP is that I think we can get a 64bit userspace...

[2016-02-07 21:40] Manouchehri commented on #8
@GalaticStryder Intel releases a AOSP fork themselves. I think most/all of the sources are already online?

Anyone looked at the Android BSP yet?

http://www.insyde.com/products/androidsolutions/android_portal

I found some public BSPs for M/D/I devices, but not the Bay Trail-T.

ftp://ftp.windriver.com/public/IAS/android_50md/
https://gist.github.com/shakalaca/f43be72ccd0ca041fb91

[2016-02-07 22:04] Manouchehri commented on #8
Android Intel:

https://01.org/android-ia/

[2016-02-08 12:19] GalaticStryder commented on #8
@sigboe You mean compiling AOSP with this makefile: https://github.com/android-ia/vendor_intel_baytrail/blob/master/minnow_max/minnow_64p.mk

[2016-02-08 16:28] sigboe commented on #8
@GalaticStryder Wow thats a start...

But I must say I do not have the competence nor the time to look into Android at this very instant. However, it seams we have 3 candidates here
1. InsydeH2O build (AOSP 4.4.4)
2. Android-ia (AOSP verson ???)
3. Repacking Chuwi shipped rom in a easier to flash manner. (AOSP 4.4.4)

The former and the later being two ways of doing the same thing really. While op

[2016-02-08 19:40] Manouchehri commented on #8
@GalaticStryder That's for a Bay Trail-I and not the Bay Trail-T though.

[2016-03-11 01:57] uberlinuxnoob commented on #2
I coming bearing another goody hopefully this helps with Audio development
[Realtek_ALC5642_DataSheet.pdf](https://github.com/Manouchehri/vi8/files/168337/Realtek_ALC5642_DataSheet.pdf)

[2016-03-23 20:16] RussianNeuroMancer commented on #2
@sigboe, is there way to install Ubuntu Touch from 16.04 repo without Android stuff? (i.e. LXC containers with drivers). Seems silly to use Android drivers (for graphics for example) that run via LXC and libhybris if in our case there is native ones.

[2016-04-04 11:23] youling257 opened #10 "rfkill.patch，how to use ?"
I do not proficient linux，Please tell me for each terminal command
how to patch kernel？

[2016-04-04 14:07] Manouchehri commented on #10
Have you tried looking up "how to compile a kernel" on Google or any search engine?

Support is still experimental and likely to break. I would advise not trying to run Linux if you aren't able to troubleshoot/research yourself.

[2016-04-04 14:07] #10 closed

[2016-04-04 15:04] youling257 commented on #10
thanks

[2016-04-04 15:14] sigboe commented on #10
@youling257 I suggest starting to learn Linux on a computer that has support for Linux first. Linux became my biggest love when I was between 14 and 19, so many cool things you can do with it. Check out http://reddit.com/r/unixporn just to see what you can do.

[2016-04-04 15:42] youling257 commented on #10
someone tell me compile Androidx86 kernel each terminal command，https://sourceforge.net/p/android-x86/kernel/ci/kernel-4.4/tree/
“git clone https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/x86/x86_64-linux-android-4.9
export ARCH=x86
export SUBARCH=x86_64
export PATH=~/prebuilts/x86_64-linux-android-4.9/bin:$PATH
export CROSS_COMPILE=x86_64-linux-android-
make android-x86_64_defco

[2016-04-04 15:52] youling257 commented on #10
what ? in order to use rfkill.patch ，need recompile kernel tree ?

[2016-04-04 16:09] youling257 commented on #10
about rfkill.patch，I see some place ，@@ -168,6 +168,7 @@ ，@@ -172,6 +172,7 @@，@@ -167,6 +167,7 @@，which right ?
https://sourceforge.net/p/android-x86/kernel/ci/bb80f724827e49d507ef37a3ca525f6406bafa1e/#diff-3
https://github.com/hadess/rtl8723bs/issues/34#issuecomment-145751005
https://github.com/lwfinger/rtl8723bs_bt/issues/1#issuecomment-148896005

[2016-05-08 09:32] andreasb242 opened #11 "Display Problems"
Hi, did you never had problems with the Display resolution?
I have the HI8, not the VI8, but I need always the option "nomodeset" to enter in the boot options.
If I miss this option, the display is always black.

The touch driver which you mentioned is working, but I couldn’t rotate the screen. I tested only in the live view session.

[2016-07-08 07:18] z3t0 commented on #2
Has the audio device been identified yet?

[2016-07-08 15:13] RussianNeuroMancer commented on #2
It's probably rt5640.

If you want to test new audio driver, code is here https://github.com/plbossart/sound/commits/t100taf-5 UCM files is here https://github.com/plbossart/UCM/tree/t100-test

[2016-07-11 04:13] z3t0 commented on #2
@RussianNeuroMancer is there any way to check the audio device from windows? Device Manager shows a bunch of non-english characters... and there doesn't seem to be another way to identify it.

[2016-07-11 05:20] RussianNeuroMancer commented on #2
@z3t0 try to check VendorID DeviceID: https://youtu.be/i6RLmrF8ups?t=30s

[2016-10-06 13:35] Manouchehri commented on #11
Can you paste the output of `xrandr`?

[2016-10-06 13:41] sigboe commented on #11
@andreasb242 If you have the HI8 you need to tell your bootloader the exact resolution of the display instead of `nomodeset`.

I presume you have a `video=1280x800@60` if you followed my steps exactly. If not then you need the `video=` argument. The catch is that you need to enter the exact resolution of your display (like I stated above). I guess it is `video=1920×1200@60`

[2016-10-06 15:38] andreasb242 commented on #11
It's to long ago, I don't know exactly what I did, I tried to specify the resolution, but with another command.

I recognize the display is always in portrait mode, not in landscape, as I would expect it (also the BIOS).

I have to try it...

[2016-10-07 18:46] barni2000 commented on #9
There are official drivers from BOSCH. https://github.com/BoschSensortec/Linux_Kernel_Drivers

[2016-11-09 00:26] z3t0 opened #12 "Shutting down automatically?"
Hey,

This is somewhat off-topic but I have been having an issue whereby I cannot actually use my tablet for very long as it automatically shuts down. Any ideas? I wanted to move forward with installing linux but clearly that would be a bad idea in the current state since the tablet losing power half way through installing linux would leave it in an unusable state

[2016-11-09 08:25] sigboe commented on #12
It sounds like an issue with C-States. Try to disable C-States in the CPU to see if that improves anything.

You should know the tablet will preform worse without C-States. But for testing purposes.

[2017-03-30 14:55] Manouchehri commented on #12
I've run into this issue as well I think, but wasn't able to figure out the cause..

[2017-03-30 16:21] z3t0 commented on #12
Yeah same... Mine is no longer usable

[2017-03-30 16:23] abacao commented on #12
Over-heat?

[2017-03-30 16:33] z3t0 commented on #12
Possibly, but no way to check

[2017-10-24 18:45] andreasb242 commented on #11
`video=1200x1920@60`
is working. The display is in portrait mode (even in the BIOS)

[2017-10-24 20:05] sigboe commented on #11
Yes that is the correct setting for Hi8.

[2017-11-09 07:45] akmalmasud96 commented on #2
I don't able to find Linux Driver for Realtek RTL8723B Wireless LAN 802.11n USB 2.0 Network Adapter. Any one help ?

[2017-11-09 11:41] Manouchehri commented on #2
@akmalmasud96 See https://github.com/hadess/rtl8723bs if you haven't tried already.

If that doesn't work, please paste the output of `sudo lsusb -vvv`.

[2017-11-16 18:59] ghost commented on #2
@Manouchehri  I tested the rtl9723bs driver in linux mint 18.2, and it worked perfectly. I have the problem that the SD card is not recognized. And the sound is not detected, as if there is no sound card. What can it be?
My hardware: Positivo Stilo One xc3570 - 32gb sd card + 100gb and cloud +2gb RAM + 32gb ssd.
My web cam not function and linux. Model: Intel avstream camera. Vga camera

[2017-11-16 19:03] ghost commented on #2
And Windows 10 Pro my sound card is:  intel sst audio device (wdm) and realtek i2s audio codec.
look in system of devices on windows.

[2017-11-16 19:10] ghost commented on #2
@Manouchehri @sigboe The batery but function, is necessary install the  system of energy on linux.
Link: http://www.edivaldobrito.com.br/como-instalar-o-battery-monitor-no-linux-e-ficar-de-olho-na-carga-da-bateria/
And
http://www.edivaldobrito.com.br/gerenciamento-de-energia-laptop-mode-tools/

[2018-01-10 12:16] mikehowe11 commented on #2
Hi I want to install rtl8723bs drivers for backbox 5 running 4.8.0-58 kernel
It seems @z3t0 has managed to install wireless drivers .. pls help me
When I try make command its not compiling and im unable to install
![screenshot_2018-01-10_01-20-56](https://user-images.githubusercontent.com/35272779/34772511-26a7adb2-f62e-11e7-8032-f33dc63b36a1.png)
![screenshot_2018-01-10_01-35-12](https://user-ima

[2018-01-20 18:10] mikehowe11 commented on #2
Finally , i got my wifi to work with

kernel upgrade
https://github.com/hadess/rtl8723bs/wiki/RTL8723BS-module-building-instruction-for-Debian-GNU-Linux

and

wireless drivers
https://github.com/maurossi/rtl8723bs

![screenshot from 2018-01-20 23-38-12](https://user-images.githubusercontent.com/35272779/35186494-09f13314-fe0d-11e7-8033-0838b6ea0a71.png)

audio isnt working

[2018-01-23 18:29] ghost commented on #2
Finally I got the wireless driver through the kernel upgrade. Linux kernel version 4.14.14. Wireless is working perfectly.
But the sound does not work. I have no idea what the sound driver for Linux System is. Bluetooth idem.
In Windows 10 Pro:
https://www.catalog.update.microsoft.com/Search.aspx?q=Realtek%20Bluetooth%20UART%20Bus%20Driver

Sound
https://www.catalog.update.microsoft.com/Search.asp

[2018-01-23 18:34] ghost commented on #2
@mikehowe11 My processor is Intel Atom x5-z8300 @ CPU 1.44 Ghz
4 núcleos.

[2018-01-23 18:34] ghost commented on #2
https://www.kernel.org/

[2020-09-03 20:20] mirh commented on #4
A 32-bit OS and applications get you something between 15% and 20% less RAM usage than the same exact thing in 64-bit mode?
And when you have just 2GB of ram it can make all the difference in the world between "happily browsing the web with a bunch of tabs open while spotify plays music" and "having to swap out memory".

Firmware has not the same attack surface of an operating system (which has al

[2021-04-19 15:33] fourpoint opened #13 "Chuwi VI10 Pro touchscreen"
I successfuly installed Kubuntu 20.10 on my tablet but did not managed to setup touchscreen.
I always get this dmesg output:
[    8.265859] chipone_icn8505 i2c-CHPN0001:00: Warning ACPI _SUB failed: 0x5
[    8.267159] chipone_icn8505 i2c-CHPN0001:00: Direct firmware load for chipone/icn8505-unknown.fw failed with error -2
[    8.267166] chipone_icn8505 i2c-CHPN0001:00: Firmware request error -2
[

[2021-05-29 19:17] Manouchehri commented on #12
Mine completely died a few months ago. My guess is the battery gave out, and the unexpected power off events were an early sign of it.

[2021-08-20 05:16] aeremichev opened #14 "Audio fixed"
https://forums.linuxmint.com/viewtopic.php?t=312795

This post helped me.
Config for our tablet https://github.com/plbossart/UCM/tree/master/bytcr-rt5640

[2022-01-08 00:16] legop3 commented on #4
I know it's been a while, but I assume this means it is impossible to boot anything 64 bit on tablets with this limitation, am I correct?

[2022-01-08 03:19] mirh commented on #4
No you aren't. 64-bit linux on 32-bit UEFI is a pretty well known thing (even though it may require some hacking, as also evidenced by this repository instructions).
https://medium.com/@realzedgoat/a-sorta-beginners-guide-to-installing-ubuntu-linux-on-32-bit-uefi-machines-d39b1d1961ec
https://wiki.archlinux.org/title/Unified_Extensible_Firmware_Interface#Booting_64-bit_kernel_on_32-bit_UEFI
It's o

[2022-01-08 07:28] legop3 commented on #4
thank you so much, i will take a look.